<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一盏课堂</title>
  <link rel="shortcut icon" href="/iyizhan/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/iyizhan/src/phone/css/maintenance.css">
  <script src="/iyizhan/src/phone/js/autoFlex.js"></script>
</head>

<body>
  <div class="container">
    <div class="header-container">
      <div class="nav">
        <img class="operation" src="/iyizhan/src/phone/img/more.png">
        <img class="logo-small" src="/iyizhan/src/phone/img/logo.png">
        <ul class="hide">
          <li id="op-index">首页</li>
          <li id="op-pm">产品经理</li>
          <li id="op-ui">UI设计</li>
          <li id="op-yw" class="active">互联网运营</li>
          <li id="op-ps">PS/平面设计</li>
          <li>咨询 : 029-630113580</li>
        </ul>
      </div>
      <div class="header-title">互联网运营</div>
      <div class="logo mt-reversal-2-4">
        <img src="/iyizhan/src/phone/img/logo.png">
      </div>
      <div class="title-info">成为独当一面的运营达人</div>
      <div class="features-cointer mt-3">
        <div class="item">
          <div class="item-info">
            <span>专业</span>
          </div>
        </div>
        <div class="item">
          <div class="item-info">
            <span>信赖</span>
          </div>
        </div>
        <div class="item">
          <div class="item-info">
            <span>有效</span>
          </div>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div class="body-container-item">
        <div class="question">
          <div class="question-title">什么是互联网运营？</div>
          <div class="question-info">互联网运营是为产品传递价值、打造生态和创造玩法。是传统企业在市场营销、品牌推广、组织运营等方面的转型，借助文字和各种媒介及工具，实现用户高速增长，为公司带来流量和收益目的。</div>
        </div>
        <div class="question">
          <div class="question-title">学了互联网运营能做什么？</div>
          <div class="question-info">互联网运营的主要工作包含组织活动、维系用户、渠道拓展、文案输出、方案设计、数据分析等，设计互联网行业的方方面面，蜕变为一名优秀的互联网运营，就是一个小兵成为一个将军的过程。</div>
        </div>
        <div class="question">
          <div class="question-title">互联网运营的前景如何？</div>
          <div class="question-info">以用户数和转化率作为核心KPI的运营岗，是每家互联网公司都非常重视的关键岗位，尤其是在信息爆炸的今天，更需要运营参与到产品未来的战略决策中去，其职业发展道路非常开阔，这毫无疑问。</div>
        </div>
        <div class="question">
          <div class="question-title">互联网运营的薪资</div>
          <div class="user-salary mt-2">运营经理年薪
            <span class="small-info">（1~3年）</span>
            <span class="salary-1">10W+</span>
          </div>
          <div class="user-salary mt-1">运营总监年薪
            <span class="salary-2">30W</span>
          </div>
        </div>
        <div class="question">
          <div class="question-title">课程内容包括</div>
        </div>
        <div class="class-container mt-2">
          <img class="img-border" src="/iyizhan/src/phone/img/border-4.png">
          <div class="class-card">
            <div class="class-card-header">
              <span>运营思维培养&nbsp;&nbsp;&nbsp;&nbsp;工作体系拆分</span>
              <span class="dotted">.</span>
            </div>
            <div class="class-card-body">
              <div class="item-card">
                <div class="title">平面设计</div>
                <div class="info">设计渲染丰富内容</div>
              </div>
              <div class="item-card mt-1">
                <div class="title">用户运营</div>
                <div class="info">社群的建立与维护</div>
              </div>
              <div class="item-card mt-1">
                <div class="title">内容运营</div>
                <div class="info">文案撰写与发布</div>
              </div>
              <div class="item-card mt-1">
                <div class="title">活动运营</div>
                <div class="info">线上/线下活动策划</div>
              </div>
            </div>
          </div>
          <div class="class-card mt-2">
            <div class="class-card-header">
              <span>策略制定&nbsp;&nbsp;&nbsp;&nbsp;工具使用</span>
              <span class="dotted">.</span>
            </div>
            <div class="class-card-body-tool">
              <div class="tool-card">
                <div class="tool-item">PS</div>
                <div class="tool-item">Axure</div>
              </div>
              <div class="tool-card mt-1-5">
                <div class="tool-item">H5</div>
                <div class="tool-item">SEO/SEM</div>
              </div>
            </div>
          </div>
          <div class="more-class">
            <span>了解更多课程内容</span>
          </div>
          <img class="img-border-bottom" src="/iyizhan/src/phone/img/border-5.png">
        </div>
      </div>
      <div class="line-space"></div>
      <div class="body-container-item mt-reversal-15">
        <div class="teacher-title">
          <span>师资</span>
        </div>
        <div class="title-1">企业总监设计师、高校教授、一盏课堂资深讲师倾情授课</div>
        <div class="user-card">
          <div class="user-title">
            <div class="title-info">
              <div class="user-name">卫宪</div>
              <div class="user-job">华为、荣智科技
                <br>运营总监</div>
            </div>
            <div class="title-img img-url-wx"></div>
          </div>
          <div class="user-content">
            负责公司运营部，多面产品策划&amp;营销运营经验及实践积累，主导华为硬件产品、外研社、顺丰线上等多个大型项目，丰富的实践经验。
          </div>
        </div>
        <div class="user-card mt-2">
          <div class="user-title">
            <div class="title-info">
              <div class="user-name">李达</div>
              <div class="user-job">百度、京东、搜狗
                <br>产品总监</div>
            </div>
            <div class="title-img img-url-ld"></div>
          </div>
          <div class="user-content">
            百度、京东、搜狗产品总监，拥有超过8年产品经验，学员遍布国内外知名互联网公司产品团队：腾讯、百度、滴滴、搜狐、小米...
          </div>
        </div>
        <div class="user-card mt-2">
          <div class="user-title">
            <div class="title-info">
              <div class="user-name">班主任</div>
              <div class="user-content">
                全程跟踪，管理教学，班级组织，日常事务管家。你的学习鼓励师。
              </div>
            </div>
            <div class="title-img img-url-bzr"></div>
          </div>
        </div>
        <div class="user-card mt-2">
          <div class="user-title">
            <div class="title-info">
              <div class="user-name">就业顾问</div>
              <div class="user-content">
                根据你兴趣爱好能力状况提供对口岗位面试安排，保障你高薪就业。
              </div>
            </div>
            <div class="title-img img-url-jygw"></div>
          </div>
        </div>
      </div>
      <div class="line-space"></div>
      <div class="body-container-item mt-reversal-15">
        <div class="teacher-title">
          <span>实力</span>
        </div>
        <div class="title-2">
          <div class="item">
            <div class="line"></div>
          </div>
          <div class="info">客观数据&nbsp;&nbsp;壮观实力</div>
          <div class="item">
            <div class="line"></div>
          </div>
        </div>
      </div>
      <img class="line-space-2" src="/iyizhan/src/phone/img/line-space-2.png">
      <div class="body-container-item strength">
        <div class="title-5">3000家</div>
        <div class="title-6 mt-1">企业保持人才定制合作</div>
        <div class="title-5 mt-3">2000家</div>
        <div class="title-6 mt-1">设计咨询服务</div>
        <div class="title-5 mt-3">50家</div>
        <div class="title-6 mt-1">500强企业</div>
        <div class="title-5 mt-3">6000+</div>
        <div class="title-6 mt-1">接受培训，成功就业</div>
        <div class="company mt-3">
          <img src="/iyizhan/src/phone/img/company.png">
        </div>
      </div>
      <div class="note-container mt-3">
        <img src="/iyizhan/src/phone/img/note-icon.png">
        <div class="info mt-1">不要在该努力的年纪</div>
        <div class="info">选择了懒惰</div>
      </div>
      <div class="map-card mt-4">
        <div class="map-card-body">
          <div class="logo">
            <img src="/iyizhan/src/phone/img/logo.png">
          </div>
          <div class="address-container">
            <div class="title">西安校区</div>
            <div class="info mt-0-5">西安市碑林区南稍门大话南门壹中心14层（地铁二号线南稍门站D口）</div>
            <div class="mt-0-5">电话: 029-63013580</div>
          </div>
          <div class="map mt-2"></div>
          <div class="address-container mt-2">
            <div class="title">北京校区</div>
            <div class="info mt-0-5">北京市海淀区大钟寺中坤广场E座7层（总部）</div>
          </div>
        </div>
      </div>
      <div class="logo mt-2">
        <img src="/iyizhan/src/phone/img/logo.png">
      </div>
    </div>
    <div class="empty"></div>
    <div class="footer-container">
      <div class="phone-container">
        <a href="tel://029-63013580" class="item">电话咨询</a>
        <a class="item">在线咨询</a>
      </div>
    </div>
</body>
<script src="/iyizhan/lib/zepto-1.2.0/zepto.min.js"></script>
<script src="/iyizhan/src/phone/js/phone.js"></script>

</html>
