body {
  background-color: #505050;
}

.login {
  width: 400px;
  height: 300px;
  margin: auto;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
}

.pt-10 {
  padding-top: 10px;
}

.login-top {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 10px 20px;
}

.login-left {
  float: left;
}

.lock-icon {
  font-size: 40px;
}

.login-left h3 {
  margin-top: 0;
}

.login-right {
  float: right;
}

.text-disable {
  color: #888;
}

.login-bottom {
  padding: 10px 20px 20px 20px;
  background-color: #eee;
}

.login-btn {
  width: 100%;
  padding: 8px 0;
}

button.btn:focus {
  outline: none !important;
}

.error {
  color: #d43f3a;
  margin-top: 15px;
}
