* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #333;
  background-color: #040119;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header-container {
  position: relative;
}

.header-container .nav {
  position: relative;
  background-image: url("/iyizhan/src/phone/img/nav.png");
  background-size: 100% 100%;
  height: 6rem;
}

.header-container .nav .logo-small {
  position: absolute;
  right: 0.5rem;
  width: 9rem;
  top: 0.4rem;
}

.header-container .nav .operation {
  position: absolute;
  left: 1rem;
  width: 2rem;
  top: 0.97rem;
}

.header-container .header-title {
  background-image: url(/iyizhan/src/phone/img/bg.png);
  background-size: 100% 100%;
  margin-top: -2.1rem;
  height: 16rem;
  color: #fff;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 7rem;
}

.logo {
  text-align: center;
}

.logo img {
  height: 7rem;
}

.header-container .title-info {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0.5rem;
  width: 21rem;
  font-weight: 700;
  background-image: url(/iyizhan/src/phone/img/title-info.png);
  background-size: 100% 100%;
}

.features-cointer {
  display: flex;
}

.features-cointer .item {
  width: 33.33333%;
}

.features-cointer .item .item-info {
  margin: 0 auto;
  text-align: center;
  background-image: url(/iyizhan/src/phone/img/light_1.png);
  background-size: 100% 100%;
  height: 8rem;
  width: 8rem;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  line-height: 8rem;
}

.body-container {
  position: relative;
  padding: 2rem 0.8rem 0 0.8rem;
  margin-bottom: 4rem;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container .phone-container {
  display: flex;
  text-align: center;
  font-size: 1.6rem;
  background-color: #2f8fa7;
}

.phone-container .item {
  flex-basis: 50%;
  border: 0.15rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-1-5 {
  margin-top: 1.5rem !important;
}

.mt-reversal-3-5 {
  margin-top: -3.5rem !important;
}

.mt-0-5 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem;
}

.width-auto {
  width: 100% !important;
}

.letter-spacing-0 {
  letter-spacing: 0;
}

.item-card {
  padding: 1rem;
  background-color: #17385c;
  box-shadow: 1rem 1rem 0.8rem #2e2c3a;
  margin-right: 1rem;
}

.item-card.no-shadow {
  box-shadow: none;
  margin-right: 0;
}

.item-card .item-card-header {
  display: flex;
  align-items: center;
}

.item-card .item-card-header .item-card-index {
  width: 4rem;
  height: 4rem;
  border: 2px solid #bfbfbf;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 3.6rem;
}

.item-card .item-card-header .item-card-title {
  color: #f78643;
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: 1rem;
  letter-spacing: 0.2rem;
}

.item-card .item-card-body {
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.4rem;
  color: #b6e0f4;
  letter-spacing: 0.2rem;
}

.span-card-row {
  display: flex;
  margin: 0.5rem -0.5rem;
  letter-spacing: 0;
  text-align: center;
}

.span-card-row .span-card-col {
  padding: 0 0.5rem;
  width: 33.333333%;
}

.span-card {
  background-image: url("/iyizhan/src/phone/img/square_1.png");
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
}

.span-card.full {
  background-image: url(/iyizhan/src/phone/img/square_2.png);
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  padding: 0 3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.item-card-body.theme-body {
  color: #50baff;
  font-weight: 700;
  font-size: 1.6rem;
}

.production-container {
  display: flex;
  margin-top: 0.8rem;
  border: 0.15rem dotted #bfbfbf;
}

.production-container.full {
  flex-wrap: wrap;
}

.production-container .item {
  width: 50%;
}

.production-container.full .item {
  width: 100%;
}

.production-container .item img {
  width: 100%;
  padding: 1rem;
}

.note-container {
  background-image: url(/iyizhan/src/phone/img/note.png);
  background-size: 100% 100%;
  width: 28rem;
  height: 17rem;
  margin: 3rem auto;
  text-align: center;
  color: #6db5e4;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
  padding-top: 4rem;
}

.alarm-title {
  font-size: 2.2rem;
  color: #ffac34;
  margin: 2rem 0;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-align: center;
}

.italic {
  font-style: italic;
}

.icon-text-card {
  display: flex;
  align-items: center;
}

.icon-text-card .item-img {
  background-size: 100% 100%;
  width: 4rem;
  height: 4rem;
}

.img-url-1 {
  background-image: url("/iyizhan/src/phone/img/img-url-1.png");
}

.img-url-2 {
  background-image: url("/iyizhan/src/phone/img/img-url-2.png");
}

.img-url-3 {
  background-image: url("/iyizhan/src/phone/img/img-url-3.png");
}

.icon-text-card .item-title {
  color: #ffcf8a;
  font-size: 1.8rem;
  margin: 0 1rem;
}

.icon-text-card .item-info {
  color: #b0b0b0;
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: normal;
}

.user-card {
  border: 0.15rem solid #406688;
  padding: 1rem;
  text-align: justify;
  font-weight: 700;
}

.user-card .user-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-card .title-info {
  flex-grow: 1;
  flex-basis: 50%;
  margin-right: 2rem;
}

.user-card .title-img {
  background-size: 100% 100%;
  width: 7rem;
  height: 7rem;
}

.img-url-hk {
  background-image: url("/iyizhan/src/phone/img/hk.png");
}

.img-url-zp {
  background-image: url("/iyizhan/src/phone/img/zp.png");
}

.img-url-bzr {
  background-image: url("/iyizhan/src/phone/img/bzr.png");
}

.user-card .user-name {
  color: #e1912a;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.user-card .user-job {
  font-size: 1.2rem;
  color: #fad0a3;
}
.user-card .user-content {
  color: #ffad55;
  font-size: 1rem;
  line-height: 1.5rem;
}

.address-container {
  font-size: 1.6rem;
}

.address-container .title {
  color: #ffcf8a;
}

.address-container .info {
  font-size: 1rem;
  line-height: 1.5rem;
}

.map {
  background-image: url("/iyizhan/src/phone/img/map.png");
  background-size: 100% 100%;
  height: 22rem;
}
.nav.nav-open {
  background-color: #215e8d;
  background-image: none !important;
  text-align: center;
  height: auto;
  padding-top: 0.5rem;
}

.nav.nav-open .logo-small {
  position: static;
  width: 10rem;
}

.nav.nav-open ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav.nav-open ul li {
  padding: 1rem 0;
  font-size: 1.2rem;
  border-top: 0.1rem solid rgba(204, 204, 204, 0.24);
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.hide {
  display: none;
}
